.app-content {
    display: flex;
    min-height: calc(100vh - 64px);
}

.app-content .app-sidebar {
    flex:0 0 250px;
    transition: all .25s ease-in-out;
}

.app-sidebar-mobile {
    display: none;
    width: 100%;
    position: absolute;
    top: 64px;
    left: 0;
    height: calc(100% - 64px);
}

.app-sidebar-mobile .sidebar-mobile-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.app-sidebar-mobile ul.app-side-nav {
    max-width: calc(50% + 100px);
    height: 100%;
    z-index: 2;

    transform: translateX(-100%);
    opacity: 0;

    transition: transform 0.3s ease, opacity 0.3s ease;
}

.app-content .app-sidebar.minimize {
    flex: 0 0 120px;
}

.app-content .app-sidebar.minimize ul.app-side-nav {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.app-content .app-sidebar ul.app-side-nav {
    width: 230px;
    height: 100%;
}

.app-content .app-sidebar.minimize ul.app-side-nav{
    width: 90px;
    padding-right: 0;
    overflow-x: hidden;
}

.app-content .app-sidebar ul.app-side-nav,
.app-content .app-sidebar ul.app-side-nav li,
.app-sidebar-mobile ul.app-side-nav,
.app-sidebar-mobile ul.app-side-nav li {
    padding: 0;
    margin: 0;
}

.app-content .app-sidebar ul.app-side-nav {
    padding-right: 20px;
}

.app-content .app-sidebar ul.app-side-nav li,
.app-sidebar-mobile ul.app-side-nav li {
    list-style-type: none;
    margin-bottom: 5px;
}

.app-content .app-sidebar ul.app-side-nav li.side-nav-title,
.app-sidebar-mobile ul.app-side-nav li.side-nav-title {
    color: #515151;
    padding-left:2rem;
    padding-right:1rem;
    padding-top:10px;
    font-weight: 500;
}

.app-content .app-sidebar ul.app-side-nav li a,
.app-sidebar-mobile ul.app-side-nav li a {
    display: flex;
    align-items: center;
    padding-left:2rem;
    padding-right:1rem;
    padding-top:10px;
    padding-bottom:10px;

    text-decoration: none;
    color: #1b1b1b;
    font-weight: 300;
    position: relative;
}

.app-sidebar-mobile ul.app-side-nav li.side-nav-title,
.app-sidebar-mobile ul.app-side-nav li a {
    padding-left: 1.5rem;
}

.app-content .app-sidebar.minimize ul.app-side-nav li.side-nav-title,
.app-content .app-sidebar.minimize ul.app-side-nav li.side-nav-item .nav-label {
    display: none;
}

.app-content .app-sidebar.minimize ul.app-side-nav li.side-nav-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.app-content .app-sidebar.minimize ul.app-side-nav li.side-nav-item .ft {
    font-size: 1.2rem;
}

.app-content .app-sidebar ul.app-side-nav li.item-active,
.app-content .app-sidebar ul.app-side-nav li:not(.side-nav-title):hover,
.app-sidebar-mobile ul.app-side-nav li.item-active,
.app-sidebar-mobile ul.app-side-nav li:not(.side-nav-title):hover {
    background-color: #deecfa;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.app-sidebar-mobile ul.app-side-nav li.item-active,
.app-sidebar-mobile ul.app-side-nav li:not(.side-nav-title):hover {
    border-radius: 0;
}

.app-content .app-sidebar.minimize ul.app-side-nav li.item-active,
.app-content .app-sidebar.minimize ul.app-side-nav li:not(.side-nav-title):hover {
    background-color: #deecfa;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.app-content .app-sidebar ul.app-side-nav li > a:hover, 
.app-content .app-sidebar ul.app-side-nav li.item-active > a,
.app-sidebar-mobile ul.app-side-nav li > a:hover,
.app-sidebar-mobile ul.app-side-nav li.item-active > a {
    color: #0645ce;
    font-weight: 400;
}

.app-sidebar .menu-arrow,
.app-sidebar-mobile .menu-arrow {
    display: inline-block;
    text-rendering: auto;
    position: absolute;
    top: 50%;
    right: calc(10px * 1.5);
    -webkit-transition: -webkit-transform .15s;
    transition: -webkit-transform .15s;
    transition: transform .15s;
    transition: transform .15s, -webkit-transform .15s;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    line-height: 1.1rem;
    font-size: calc(0.925rem * 1.18);
}

.app-sidebar .menu-arrow:before,
.app-sidebar-mobile .menu-arrow:before {
    content: "\ea6e";
    font-family: remixicon;
}

.app-sidebar .side-nav-item>a[aria-expanded=true]>span.menu-arrow,
.app-sidebar-mobile .side-nav-item>a[aria-expanded=true]>span.menu-arrow {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg);
}

.app-sidebar .side-nav-dropdown-item,
.app-sidebar-mobile .side-nav-dropdown-item {
    padding-left: calc(2rem + 10px);
    padding-bottom: 10px;
}

.app-sidebar .side-nav-item ul.side-nav-dropdown-item li,
.app-sidebar-mobile .side-nav-item ul.side-nav-dropdown-item li {
    margin-bottom: 0;
}

.app-sidebar .side-nav-item ul.side-nav-dropdown-item li a,
.app-sidebar-mobile .side-nav-item ul.side-nav-dropdown-item li a {
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.app-content .app-main-content {
    flex: 1 1 auto;
    padding-top: 1rem;
    padding-right: 2rem;
    min-width: 0;
}